:root {
  --bgColor: #040c18;
  --orangeColor: #ff2020;
  --purpleColor: #7E57C2;
  --textColor: rgb(241, 241, 241);
  --blueTextColor: #81afdd;
  --grayDark: #757575;
  --maxWidth: 1200px;

  --chartHeight: 30px;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;

}
.slidersSection {
  display: flex;

}
.slidecontainer {
  margin: 20px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.sliderRange {
  display: flex;
  justify-content: space-between;
  color: rgb(128, 128, 128);
  font-size: 12px;
}

.chatsSection {
  /* transform: rotate(-90deg);
  width: 940px;
  height: 224px; */
  display: flex;
  flex-direction: column;
}
.chatContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
}

.chartNameRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.chatName {
  display: flex;
  flex-direction: row;
}

.chatIconWrapper {
  display: flex;
  align-items: center;
  width: var(--chartHeight);
  margin: 0 10px 0 10px;
}
.graphChartWrapper {
  display: flex;
  align-items: center;
  width: 250px;
}
.graphChart {
  margin-right: 10px;
  /* display: flex; */
  background-color: var(--grayDark);
  height: var(--chartHeight);
  min-width: 5px;
  min-height: 5px;
  transition: all .5s ease;
}
.badPrice {
  color: red;
}
.blazeTotalPrice {
  display: flex;
}
.imgIcon {
  max-width: 30px;
}
.chatNameOptions {
  margin: 10px 0 10px 0;
  display: flex;
  width: 100px;
  justify-content: space-between;
}
/* input[value="ssd"], input[value="single"] {
  margin-left: 20px;
} */
label {
  font-size: 10px;
  /* margin-left: 8px; */
  color: var(--grayDark);
}

@media screen and (max-width: 715px) {
  main {
    flex-direction: column-reverse;
  }
  .chatContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
  .chatsSection {
    flex-direction: row;
  }
  .chartNameRow {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    width: 80px;
    height: 130px;
    margin-top: 15px;
  }
  .chartName {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .graphChartWrapper {
    flex-direction: column-reverse;
    align-items: center;
    height: 250px;
    width: auto;
  }
  .chatNameOptions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .graphChart {
    width: var(--chartHeight);
    min-height: 5px;
  }
}
